:root{
    font-size: 16px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: black;
}

.tamanhoButton{
    width: 100px;
}

.busca{
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0px 3px 3px rgb(204,204,204, 0.6);
    display: flex;
    justify-content: center;
}

.areaBusca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.formFlex{
    padding: 0px 10px;
    display: flex;
}

.busca select{
    width: 200px;
    margin: 0px 5px;
}


.botao{
    width: 100%;
    margin-top: 100px;
}

.resultado{
    position: absolute;
    left: 0;
    width: 70%;
    height: 1750px;
    z-index: -1;
    background-color: white;
}

.item{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(204,204,204, 0.6);
}

.conteudo{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
}

.imagem{
    width: 45%;
    height: 200px;
}

.imagem img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    height: 200px;
    padding: 10px 3%;
}

.tags span{
    font-size: 0.9rem;
    padding: 3px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.raca, .cor, .porte{
    display: inline-block;
}

.desc{
    overflow: hidden;
    width: 100%; 
    height: 50px;
}

.mais span{
    display: block;
    text-align: end;
}

.data span{
    color: rgba(0,0,0, 0.3);
}

.item:hover{
    background-color:  rgba(204,204,204, 0.35);
}

@media (max-width: 991px){
    .areaBusca, .formFlex{
        flex-direction: column;
    }

    .busca select{
        margin: 5px 0px;
    }

    .resultado{
        position: absolute;
        left: 0;
        width: 100%;
        height: 3150px;
        z-index: -1;
        background-color: white;
    }

    .item{
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(204,204,204, 0.6);
    }

    .conteudo{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 400px;
    }

    .imagem{
        width: 90%;
        height: 200px;
    }

    .info{
        width: 90%;
        padding: 20px 0px;
    }

    .raca{
        margin-bottom: 20px;
    }

    .mais span{
        display: block;
        text-align: start;
    }

}