<form class="formulario">
    <div class="form-group">
        <input class="form-control" type="input" placeholder="Nome" id="nome">
        </div><div class="form-group"><input class="form-control" type="input" placeholder="Email" id="email">
        </div><div class="form-group"><input class="form-control" type="input" placeholder="Telefone" id="telefone">
        </div><div class="custom-file"><input type="file" class="custom-file-input"><label class="custom-file-label">Envie uma foto</label>
        </div><div class="form-group"><button class="btn btn-success tamanhoBotaoRegistro" type="submit" id="btnAtualizarDados">Atualizar dados</button>
        </div>
</form>