{{#section 'head'}}
    <link type="text/css" rel="stylesheet" href="static/index.css">
    <title>Home</title>
{{/section}}

<body>
  <div class="hero">
    <div class="fundoPrincipal">
    </div>
    <div class="areaFormulario">
      <section class="jumbo text-center">
          <h2>Ajude um animal perdido a encontrar seu lar.</h2>
          <h5 class="lead my-3">Busque por pets e ajude seus donos.</h5>
          <div class="fundoCadastro">
          <h5>Login</h5>
          <form class="formulario my-3" id="formLogin">
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Senha" class="form-control" id="senha">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Lembrar-me!</label>
            </div>
            <button type="submit" class="btn btn-success tamanhoButton my-1">Entrar</button>
          </form>
          <div id="separadorForm"></div>
          <h5>Comece agora!</h5>
          <form class="formulario my-3" id="formCadastro">
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <input type="input" placeholder="Nome" class="form-control" id="nome">
            </div>
            <div class="form-group">
              <input type="telefone" placeholder="Telefone" class="form-control" id="tekefibe">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Senha" class="form-control" id="senha">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirme a Senha" class="form-control" id="confirmaSenha">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Concordo com os <a href="#">termos de uso</a>.</label>
            </div>
            <button type="submit" class="btn btn-success tamanhoButton my-1">Cadastrar</button>
          </form>
          </div>
      </section>
    </div>
  </div>
  
  <main>
    <div class="conteudo">
    </div>
  </main>
  
 <script type="text/javascript" src = "static/login.js"></script>
</body>