<body>
  <link rel="stylesheet" href="static/sobrenos.css">
  <main class="inicio">
      <div class="fundoPrincipal">
      </div>
      <div class="areaFormulario">
        <section class="jumbo text-center">
            <div class="fundoCadastro text-center">
            <h4>A plataforma “Cadê meu Pet” tem como objetivo facilitar e agilizar a busca
                por animais de estimação perdidos unificando todo o processo que atualmente 
                se encontra fragmento em redes sociais e em meios de divulgações físicos, tais
                como folhetos e cartazes. Tais meios se tornam pouco eficazes visto que não 
                tem a busca por animais como objetivos principal e dependem quase que inteiramente
                  da persistência dos usuários na procura devido à grande gama de conteúdo presente.</h4>
            </div>
        </section>
      </div>
  </main>
</body>